.table-responsive
  .row.js-order-filter-buttons
    .col
      %input.btn.btn-secondaryk.btn-block{type: 'button', data: {filter_column: 0, filter_value: "Ship"}, value: "Ships"} Ships
    .col
      %input.btn.btn-secondary.btn-block{type: 'button', data: {filter_column: 0, filter_value: "Mineral|Planetary"}} Minerals
    .col
      %input.btn.btn-secondary.btn-block{type: 'button', data: {filter_column: 0, filter_value: "Datacore"}} Datacores
    .col
      %input.btn.btn-secondary.btn-block{type: 'button', data: {filter_column: 0, filter_value: "Blueprint"}} Blueprints


  %table.table.table-striped.table-dark.table-hover.table-sm.js-order-table
    %thead
      %tr
        %th Type
        %th Item
        %th.js-numeric-sort Price
        %th.js-no-sort Quantity
    %tbody
      = form_for order do |f|
        - f.fields_for :line_items do |li|
          %tr
            %td= li.object.corp_stock.item_type
            %td= li.label :quantity, li.object.corp_stock.item
            %td
              = number_to_currency li.object.price, unit: "Ƶ"
            %td
              = li.hidden_field :price
              = li.text_field :quantity
        -# - @stock.each_with_index do |stock, index|
        -#   = li.label "item[#{index}]", stock.item
        -#   = li.input
