.js-review-order.modal.fade{tabindex: -1, role: "dialog", "aria-hidden" => "true"}
  .modal-dialog.modal-lg{role: "document"}
    .modal-content
      .modal-header
        %h5.modal-title
          Review Order
        %span{"aria-hidden" => "true", "data-dismiss" => "modal"} &times;

      .modal-body
        .form-group
          = f.label :player_name, "In-Game Name (*)"
          = f.text_field :player_name, class: "form-control js-player-name", required: true

        .form-group
          = f.label :tip, "Tip"
          = f.text_field :tip, class: "form-control js-tip"

        .table-responsive
          %table.table.table-dark.table-hover
            %thead
              %tr
                %th Item
                %th Price/Unit
                %th Qty
                %th Total
                %th
                  %div{data: {toggle: "tooltip", placement: "bottom"}, title: "If an item is out of stock, corp will have to manufacture it or otherwise source it."}
                    In stock?
            %tbody.js-review-order-body
            %tfoot
              %tr
                %th Total
                %th &nbsp;
                %th &nbsp;
                %th.js-modal-total &nbsp;
                %th &nbsp;

        .alert.alert-danger.js-modal-stock-warning{role: "alert"}
          Some selected items do not have sufficient stock
          to fulfill your order (see above). These items may
          require additional time for manufacturing or collection.
          If this is urgent
          = link_to "contact us on discord", Rails.application.config.discord_invite_link, target: "_blank", class: "alert-link"
          for an ETA or to discuss your needs.

        - if corp_member?
          .form-group.alert.alert-warning
            .form-check
              = f.radio_button :corp_member_type, "contract", required: true, class: "form-check-input js-option-contract-fee"
              = f.label :corp_member_type, "Purchase Via Contract (8% contract fee applied)"
              -# = f.label :corp_member_type, "I am a member of Ascended Legends or would prefer to <strong>contract</strong> the isk to reduce audit timers.".html_safe, value: "contract"
            .form-check
              = f.radio_button :corp_member_type, "donation", required: true, class: "form-check-input js-option-no-contract-fee"
              = f.label :corp_member_type, "Purchase Via Corp Wallet"
              -# = f.label :corp_member_type, "I am a member of Ascended Lunar Isle, and can <strong>donate</strong> isk to corp wallet, but may incur audit timers.".html_safe, value: "donation"


        .table-responsive
          %table.table.table-hover
            %tbody
              %tr.js-contract-fee-table{class: (f.object.corp_member_type == "contract" ? "" : "d-none")}
                %td.text-right Contract Fee:
                %td.js-contract-fee-value
              %tr
                %td.text-right Tip:
                %td.js-modal-tip
              %tr
                %td.text-right Grand Total:
                %td.js-contract-fee-final

      .modal-footer
        %button{type: "button", class: "btn btn-secondary", data: {dismiss: "modal"}} Edit Order
        = f.submit "Submit Order", class: "btn btn-primary"
