%tr
  %td
    = line_item.corp_stock.item
  %td
    = isk_currency line_item.price, true
  %td
    = number_with_delimiter line_item.quantity
  %td
    = isk_currency line_item.total
  %td
    - if line_item.order.pending? && line_item.pending_stock?
      .badge.badge-danger{data: {toggle: "tooltip"}, title: "Corp will need to manufacture or source some or all of this item"}
        No
    - else
      Yes
- if line_item.blueprint_provided?
  %tr
    %td{colspan: '3'} Customer Supplies #{line_item.corp_stock.item} BP(s):
    %td{colspan: '2'}= isk_currency -line_item.blueprint_price_reduction * line_item.quantity
